:root {
  --primary-color: #a07855ff;
  --secondary-color: #d4b996ff;
  --bckg-color: #a2a2a1ff;
}

body {
  font-family: "Roboto", sans-serif;
  padding-right: 140px;
  padding-left: 140px;
  background-color: var(--bckg-color);
  color: var(--primary-color);
  font-size: 20px;
}

header {
  margin-top: 70px;
}

.cards {
  background-color: var(--secondary-color);
  border: 1px solid white;
  padding: 20px;
  box-shadow: 0px 0px 10px 5px wheat;
}

.ExoConditions {
  display: flex;
  justify-content: space-around;
}

.cardsConditions {
  margin-top: 30px;
  width: 300px;
  height: auto;
}
