:root {
  --primary-color: #a07855ff;
  --secondary-color: #d4b996ff;
  --bckg-color: #a2a2a1ff;
}

body {
  font-family: "Roboto", sans-serif;
  padding-right: 140px;
  padding-left: 140px;
  padding-bottom: 50px;
  background-color: var(--bckg-color);
  color: var(--primary-color);
  font-size: 20px;
}

header {
  margin-top: 70px;
}

.cards {
  background-color: var(--secondary-color);
  border: 1px solid white;
  padding: 20px;
  box-shadow: 0px 0px 10px 5px wheat;
}

.ExoConditions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0px;
}

.cardsConditions {
  margin-top: 30px;
  width: 325px;
  height: auto;
}

.div_2exo_cards {
  display: flex;
  justify-content: space-between;
}

.border-right-left {
  border-right: 2px solid;
  border-left: 2px solid;
  padding-right: 70px;
  padding-left: 70px;
}

/* TABLEAUX POUR HTML */

table,
td {
  border: 1px solid white;
  padding: 5px;
  margin: 5px 0px;
}

th {
  margin-top: 100px;
}

.section_exo6_Switch {
  margin: 30px 0px;
}

.exo20 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  width: 600px;
}

form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
}
